@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Press+Start+2P&family=Roboto:wght@500&family=Slabo+27px&display=swap');

body {
    background-color: #4a4751;
    text-align: center;
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    position: relative;
}

/* Header Element */
header {
    background-color: #0a0a0a;
    width: 100%;
    height: 10%;
    margin: 0; 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

/* Header Element */
.logo {
    font-size: 35px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-bottom: 0;
    text-shadow: 0 0 10px #9264a4;
}

/* Header Element - Navigation Bar  */
nav, a {
    color: white;
    font-size: large;
    margin: 10px; 
    float: left;
}

.logo, nav {
 padding-left: 15px;
}

/* Header Element */
a:hover {
    color: #c8bbf7;
    font-size: larger;
}


/* "Random Quotes" API Elements */
.quote {
    font-size: smaller;
    color:rgb(255, 255, 255);
    font-family: 'Play', sans-serif;
    font-style: italic;
    height:fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px;
    text-align: right;
    
}

#quote_text, #author {
    margin: auto;
    width: 100%;
    padding: auto;
}


/* input box  */
input {
    height: 30px;
    font-size: larger;
}

/* Book Card Elements  */
.hidden {
   padding-top: 30px;
}

.bookName {
    padding-top: 0px;
    font-family: 'Fredericka the Great', cursive;
}

select {
    float: left;
}

/* Main Row: Lists and Book Card */
.main_row {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

/* Lists */
.lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 1%;
}

/* Each of Three Lists  */
.list {
    /* background-color: antiquewhite; */
    margin: 5% 2.5% 2%;
    height: 60%;
    position: relative;
    text-align: center;
    padding-bottom: 400px;
    box-shadow: 0 0 5px #c5c5c5;
    border-radius: 10px;
    background-size: cover;
}

/* Lists Names  */
h4 {
    font-family: 'Roboto', sans-serif;
    color:rgb(30, 23, 23);
    margin: 0;
    padding: 5%;
    box-shadow: 0 0 5px #c8bbf7;
    background-color: rgb(233, 234, 245);
    font-weight: 900;
    font-size: medium;
}



h2 {
    color: white;
}


/* Italic Pale Instructions  */
.instruction {
  font-family:'Play', sans-serif;
  color:rgb(190, 188, 188);
}

/* bullet point / book name  */
li {
    font-family: 'Fredericka the Great', cursive;
    font-size: large;
    text-align: left;
    margin: 20px 0px 20px;
    padding: 20px 10px 20px;
    color: white;
}

/* Book Card */
.bookCard {
    background-size: cover;
    margin: 5%;
    background-image: url(images/reading.jpeg);
    box-shadow: 0 0 5px #c5c5c5;
    border-radius: 3px;
    height: 467px;
}

/* Find a Book button */
.search_button {
    margin-left: 10px;
    padding: 3px 5px;
    background: none;
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    width: fit-content;
} 
  
#addLists {
    height: 25px;
    margin: auto;
    margin-left: 32px;
}
/* Add to List Button */
#add_button {
    margin-left: 0;
    border: 2px solid rgb(0, 0, 0);
}


/* All Buttins on Hover */
#add_button:hover, .search_button:hover {
    background-color: #ebe4f8;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
/* "Simple Lists For Complex Reader"  */
.slogan {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #9a89b3;
    margin-top: 50px;
    padding-bottom: 0px;
    font-family: 'Play', sans-serif;
    font-style: italic;
    font-size: x-large;
    font-family: 'Roboto', sans-serif; 
}

.searchForm {
   padding: 10px 5px 10px;
   font-family: 'Roboto', sans-serif;
}

/* displays only upon call */
 .hidden {
    visibility: hidden;
}

.bookName {
    margin-bottom: 1%;
    color:rgb(0, 0, 0);
}

.author {
    font-size: medium;
    font-style: italic;
    margin: 1%;
    margin-bottom: 2%;
}

.select {
cursor: pointer;
padding-left: 10px;
background-color: #f80505;
}

.description {
font-size: medium;
font-size: large;
padding: 30px 40px;
text-align: left;
width: fit-content;
}

.thumbnail {
   float:left;
   padding: 10px 0px 0px 40px;
   margin-right:  5px;
}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    position: fixed;
    height: 40px;   /* Height of the footer */
    position: fixed;
    opacity: 0.5;
}



/* CSS styles exclusive to about.html */

.header_slogan {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #9264a4;
    padding: auto;
    margin: auto;
    font-family: 'Play', sans-serif;
    font-style: italic;
    font-size: large;
    font-family: 'Roboto', sans-serif; 
}

.header_frame {
    width: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    background-color: #f9f7fc;
    width: 800px;
    height: 1000px;
    margin: auto;
    margin-top: 30px;
}

.why_labrari {
    color: #3f3641;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin: 15px;
}

.about_text {
    color: rgb(0, 0, 0);
    padding: 40px; 
    margin: auto;
    font-size: medium;
    font-weight: 300;
    font-family: 'Slabo 27px', serif;
    text-align: left;
    font-size: larger;
}

.align-left {
    float: left;
    width: 300px;
    margin-right: 15px;
}

.new_features {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: 300;
    font-family: 'Slabo 27px', serif;
}